.place__title{
    line-height: 76px;
    font-size: 72px;
    font-weight: 900;
    max-width: 460px;
    margin: 0;
}

@media screen and  (max-width:1024px){
    .place__title{
        max-width: 340px;
        margin-left: 16px;
        line-height: 46px;
        font-size: 42px;
    }
}

@media screen and  (max-width:720px){
    .place__title{
        max-width: 288px;
        line-height: 35px;
        font-size: 32px;
    }
}