.photo-grid {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
max-width: 1184px;
gap: 16px;
background-color: #2A2C2F;
margin: 0 48px;
}

@media screen and  (max-width:1140px){
    .photo-grid{

    }
}

@media screen and  (max-width: 984px){
    .photo-grid{
        min-height: 720px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and  (max-width:720px){
    .photo-grid{
        width: 98%;
        gap: 12px;
    }
}