.places{
  display: flex;
  flex-direction: column;
  max-width: 984px;
  gap: 80px;
  margin: 0 auto;
}

@media screen and  (max-width:1140px){
  .places{
    max-width: 100%;
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and  (max-width: 1024px){
  .places{
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and  (max-width:720px){
  .places{
    margin-left: auto;
    margin-right: auto;
  }
}