.place__image{
    box-sizing: border-box;
}

@media screen and  (max-width:1140px){
    .place__image{
        max-height: 440px;
        max-width: 440px;
    }
}

@media screen and  (max-width:984px){
    .place__image{
        max-height: 340px;
        max-width: 340px;
    }
}

@media screen and  (max-width:720px){
    .place__image{
        max-width: 320px;
        height: 320px;
        padding: 0;
        margin: 0;
    }
}