.intro__list{
  line-height: 18px;
  font-size: 12px;
  font-weight: 400;
  list-style-type: none;
  padding: 0;
  margin-top: 33px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}