.cover__subtitle{
  max-width: 360px;
  line-height: 22px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  margin: 16px 0 0;
}

@media screen and  (max-width:568px){
  .cover__subtitle{
    font-size: 14px;
    line-height: 16px;
    margin-top: 8px;
    max-width: 260px;
  }
}