.photo-grid__item {
  width: 284px;
  height: 213px;
}

@media screen and  (max-width:1184px){
  .photo-grid__item{
  width: 300px;
  height: 225px;
  }
}

@media screen and  (max-width:984px){
  .photo-grid__item{
  width: 340px;
  height: 264px;
  }
}

@media screen and  (max-width:720px){
  .photo-grid__item{
  width: 288px;
  height: 216px;
  }
}