.header{
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1184px;
  margin: 0 48px 48px 48px;
}

@media screen and  (max-width:1140px){
  .header{
    max-width: 928px;
  }
}

@media screen and  (max-width: 984px){
  .header{
    max-width: 720px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and  (max-width:568px){
  .header{
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 42px;  
  }
}