.header{
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 45px 48px 45px;
}



@media screen and  (max-width: 984px){
  .header{

    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and  (max-width:568px){
  .header{
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 42px;  
  }
}