.place__paragraph{
    line-height: 29px;
    font-size: 18px;
    font-weight: 400;
    max-width: 484px;
    margin-top: 0;
    margin-bottom: 26px;
    align-self: start;
}
.place__paragraph::last-child{
    margin-bottom: 0;
}
@media screen and  (max-width: 984px){
    .place__paragraph{
        line-height: 26px;
        font-size: 16px;
        max-width: 100%;
        margin-bottom: 25px;
    }
}

@media screen and  (max-width:720px){
    .place__paragraph{
        line-height: 26px;
        font-size: 16px;
        max-width: 90%;
        align-self: center;
    }
}