.lead__image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 984px;
    min-height: 615px;
    box-sizing: border-box;
    background-image: url("../../../images/lead.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;   
}

@media screen and  (max-width:1148px){
    .lead__image{
        width: 928px;
        min-height: 580px;
    }
}

@media screen and  (max-width: 984px){
    .lead__image{
        width: 768px;
        min-height: 480px;
    }
}

@media screen and  (max-width:780px){
    .lead__image{
        width: 320px;
        min-height: 200px;
        padding: 0;
        margin: 0;
    }
}