.lead__subtitle{
  line-height: 36px;
  font-size: 30px;
  text-align: center;
  align-self: center;
  font-weight: 400;
  max-width: 640px;
  margin: 0 0 64px 0;
}

@media screen and  (max-width:780px){
  .lead__subtitle{
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 40px;
  }
}