.lead__caption{
  line-height: 14px;
  font-size: 10px;
  letter-spacing: 1.5px;
  font-weight: 400;
  max-width: 160px;
  margin: 0;
  padding-top: 8px;
  text-transform: uppercase;
}

@media screen and  (max-width:568px){
  .lead__caption{
    margin-left: 16px;
  }
}