.lead__caption{
  align-self: flex-start;
  line-height: 14px;
  font-size: 10px;
  letter-spacing: 1.5px;
  font-weight: 400;
  margin-top: 8px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

@media screen and  (max-width:984px){
  .lead__caption{
    margin-left: 24px;
  }
}

@media screen and  (max-width:568px){
  .lead__caption{
    margin-left: 16px;
  }
}