.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 18px;
  min-height: 18px;
  width: 1184px;
  padding-top: 92px;
  padding-bottom: 24px;
  margin: 0 48px;
  font-family: 'Inter', Arial, sans-serif;
}

@media screen and  (max-width:1140px){
  .footer{
    max-width: 928px;
  }
}

@media screen and  (max-width: 984px){
  .footer{
    padding-top: 88px;
    max-width: 720px;
  }
}

@media screen and  (max-width:568px){
  .footer{
    padding-top: 64px;
    margin: 0 auto;
    max-width: 288px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;   
  }
}